server:
  port: 8081

spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/jobmatch
    username: jobmatch
    password: jobmatch
  jpa:
    hibernate:
      ddl-auto: update

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always